{{define "headerbar"}}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{{.Name}}</h3>
    </div>
    <div class="col-md-7 align-self-center">
      <!-- Profile -->
      <li class="nav-item dropdown pull-right">
          <a class="nav-link dropdown-toggle text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right animated zoomIn">
              <ul class="dropdown-user">
                  <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                  <li><a href="{{ .URL }}/user/logout"><i class="fa fa-power-off"></i> Logout</a></li>
              </ul>
          </div>
      </li>
    </div>
</div>

{{end}}
